* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body, html {
    height: 100%;
    background-color: #f4f4f9; /* Softer background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #ddd;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 15px rgba(92, 21, 21, 0.15); 
}

img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    //*margin: 0 auto;*/
}

img:hover {
    transform: rotate(19deg); 
}

.box {
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #f3f4f6;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 8px 0;
    text-align: center;
}

.box:focus {
    outline: none;
    border: 2px solid #88c9f9;
}

#input-field {
    background-color: #e3e3e3;
    color: #333;
    transition: background-color 0.3s;
   
}

#input-field:focus {
    background-color: #ffffff;
    border: 2px solid #88c9f9;
}

#add-button {
    background-color: #703f19;
    color: white;
   
}

#add-button:hover {
    background-color: #d2c3c3; 
    transform: scale(1.05); 
    color: black;
}

#add-button:active {
    transform: scale(0.98);
}